<div id="content">

    <% if trial? %>
     
        <%= guide :to => "welcome" %>
        <%= editor :edit => "text", :view => "inline", :placeholder => "Your Welcome Message Goes Here" %>
        <%= prompt :for => "video", :view => "add" %>
  
    <% else %>
    
        <%= player :play => "video", :view => "inline", :clip => "qz1nU2szUVw", :source => "youtube" %>
        <%= editor :edit => "text", :view => "inline", :placeholder => "Welcome to my wedding website!" %>
    
    <% end %>

</div>

    <% unless guest? %>
    <div id="customizer">

        <ul class="widgets">

            <li class="editor text"><a href="#text">Text</a></li>
            <li class="prompt video"><a href="#video">Video</a></li>
            <li class="prompt song"><a href="#song">Song</a></li>

        </ul>

        <div class="widgets">
    
            <%= editor :edit => "text", :view => "inline", :placeholder => "Your Welcome Message Goes Here" %>
            <%= prompt :for => "video", :view => "add" %>
            <%= prompt :for => "song", :view => "add" %>
        
        </div>

    </div>
    <% end %>

<%- libraries '/libraries/jquery/1.5/jquery-1.5.1.min.js', '/libraries/jquery/1.5/plugins/jquery-ui-1.8.10.min.js' -%>
<%- scripts '/prototype/header', '/prototype/navigation' -%>