<ul title="Albums" class="widget albums <%= options %>">

    <% content(:kind => "albums", :items => 5).each do |item| %>

        <li>
    
            <ul>

                <% item[:thumbnail].each do |thumbnail| %>
                    <li><a href="#"><img src="/content/<%= context %>/thumbnails/<%= thumbnail %>" /></a></li>
                <% end %>

            </ul>
        
            <h4><a href="#"><%= item[:name] %></a></h4>
            <em><%= rand(50) %> <%= context %> from <a href="#"><%= item[:source] %></a></em>
            
            <% if @options[:order] == true %>
                <label class="order"><em>Order</em><input type="text" /></label>
            <% end %>

            <% if @options[:select] == true %>
                <label class="select"><em>Select</em><input type="checkbox" /></label>
            <% end %>

            <% if @options[:select] %>
            <ul class="buttons">
            
                <% if @options[:select] == true %><li class="select add"><a href="#">Add Album</a></li><% end %>
            
            </ul>
            <% end %>

        </li>

    <% end %>

</ul>

<%- libraries '/libraries/jquery-1.4.4.js', '/libraries/jquery_ui-1.8.9.js' -%>
<%- scripts '/ui/list/controls/order', '/ui/list/controls/remove', '/ui/list/controls/select', '/ui/text/truncate' -%>