<div id="column-nav">
	<div id="t-c-logo">
		C & T
	</div>
	<ul>
	<% links.each do |nav, tab, link| %>
		<% cycle_class = cycle('odd', '')%>
		<% if nav == selected %>
		<li class="selected <%= cycle_class %>"><%= tab %>
		<% else %>
		<li class="<%= cycle_class %>"><%= link_to tab, link %>
		<% end %>
	<% end %>
	</ul>
</div>
<div id="content-wrap">
<%= yield %>
</div>