<% add_to_js %w{http://maps.google.com/maps/api/js?sensor=false maps groups rsvp} %>

<div id="<%= widget_dom_id(widget_information) %>" class="info"> 

  <div class="freeform">  
    <h3><%= raw(widget_information.title) %></h3> 
    <%= render_content(widget_information.description_content_text) unless widget_information.description_content_text.blank?  %>
  </div> 

  <% if widget_information.widget_content_count(:location) > 0 %>
  <ol class="places"> 
    <% widget_information.widget_contents_by_type(:location).each do |widget_content| %>
    <li> 
      <%= render_content(widget_content.content) %>
     </li> 
    <% end %>
  </ol> 
  <% end %>
  
  <% if widget_information.widget_content_count(:content_link) > 0 %>
  <menu> 
    <% widget_information.widget_contents_by_type(:content_link).each do |widget_content| %>
    <li>
      <%= render_content(widget_content.content) %>
    </li> 
    <% end %>
  </menu> 
  <% end %>
 
</div> 
