<% add_to_js %w{http://maps.google.com/maps/api/js?sensor=false layout maps rsvp} %>

<div id="<%= widget_dom_id(widget_event) %>" class="vevent"> 
  <h4 class="summary"><%= raw(widget_event.title) %></h4> 
  <time class="dtstart" title="<%= short_date(widget_event.start_time) %>"><%= nice_date_with_day(widget_event.start_time) %> at <span class="value"><%= nice_time(widget_event.start_time) %></span></time> 
  <% unless widget_event.description.blank? %><p class="description"><%= widget_event.description %></p><% end %>
  <% unless widget_event.location.blank? %>
  <p class="location geo"> 
    <strong><%= widget_event.location.name %></strong><br /> 
    <%= nice_address(widget_event.location) %><br /> 
    <a target="_blank" href="<%= widget_event.location.map_url %>">Get Directions</a> 
    <span class="latitude"><%= widget_event.location.latitude %></span> 
    <span class="longitude"><%= widget_event.location.longitude %></span>
  </p> 
  <% end %>
</div>
