<fieldset<%= error_for_selection(rsvp_question) %>>
    
  <legend><%= rsvp_question.question %></legend>

  <% rsvp_question.rsvp_options.each do |rsvp_option| %>

   <input type="radio" id="rsvp_questions_<%= rsvp_option.id %>" name="rsvp_questions[<%= rsvp_question.id %>]" value="<%= rsvp_option.id %>"<% if rsvp_question.is_required? %> required <% end %> />
   <label for="rsvp_questions_<%= rsvp_option.id %>"><%= rsvp_option.option %></label>

  <% end %>

  <% if error_on_selection?(rsvp_question)  %><strong>Required</strong><% end %>
</fieldset>
