<fieldset<%= error_for_selection(rsvp_question) %>>
    
  <legend><%= rsvp_question.question %></legend>

  <% rsvp_question.rsvp_options.each do |rsvp_option| %>
  <label>
   <input type="radio" name="rsvp_questions[<%= rsvp_question.id %>]" value="<%= rsvp_option.id %>" /><em><%= rsvp_option.option %></em>
  </label>
  <% end %>

  <% if error_on_selection?(rsvp_question)  %><strong>Required</strong><% end %>
 
</fieldset>
