<% add_to_js('rsvp') %>

<!-- RSVP WIDGET --> 
                <div class="rsvp"> 
 
                    <h1>RSVP</h1> 
 
                    <div class="event vevent"> 
 
                        <h3 class="summary"><%= @wedding.bride_first_name.titleize %> &amp; <%= @wedding.groom_first_name.titleize %>'s Wedding </h3> 
                        <time class="dtstart" datetime="<%= @wedding.date.strftime('%Y-%m-%d') %>"><a href="#" style="cursor: default;"><%= nice_date(@wedding.date) %></a></time>
 
                    </div> 

<% form_for @rsvp do |f| %> 
                       <div class="form"> 
 
	<% if flash[:error] %>
                            <aside class="error"> 
 
                                <h3>Sorry, your RSVP wasn't accepted</h3> 
                                <p>Please double-check the following for any highlighted mistakes.</p> 
 
                            </aside> 
        <% end %>

	    <%= f.hidden_field :wedding_id %>
 
                            <p><%= @wedding.rsvp_message %></p> 
 
                            <fieldset class="rsvp"> 
                                <legend>Will you be able to attend?</legend> 

				<input class="toggle" id="rsvp_can_attend_true" name="rsvp[can_attend]" type="radio" value="true" required /><label for="#">Yes</label> 
				<input checked="checked" id="rsvp_can_attend_false" name="rsvp[can_attend]" type="radio" value="false" required /><label for="#">No</label> 
                            </fieldset> 
 
                            <label<%= error_for(@rsvp, :name) %> for="rsvp_name">Your Name</label> 
			    <input id="rsvp_name" name="rsvp[name]" type="text" required /> <% if @rsvp.errors.on(:name) %><strong class="error">Required</strong><% end %>

                            <section> 
 
                                <h1>Details</h1> 


				<% @wedding.rsvp_questions.each do |rsvp_question| %>
				<%= render_rsvp_form_element(rsvp_question) %>
				<% end %>

<%# I AM HERE!! %> 

                              <label class="optional" for="rsvp_additional_notes">Additional Notes <small>Optional</small></label> 
			      <%= f.text_area :additional_notes, :placeholder => 'Please let us know if you have any special requests', :cols => 40, :rows => 4 %>

                            </section> 
 
                        </div> 
 
                    <menu class="actions"> 
                        <li><input type="submit" value="Submit" /></li> 
                    </menu> 
 <% end %>
                </div> 
                <!-- / RSVP WIDGET --> 


<% content_for :script do %>
<script>
	ct.placeholder();
	$('#rsvp_name').blur(function() {
		var rsvpErr = $(this).closest('label').find('.error');
		rsvpErr[$(this).val().match(/^\s*$/) ? 'removeClass' : 'addClass']('off');
	});
</script>
<% end %>
