<% add_to_js('rsvp') %>

<!-- RSVP WIDGET --> 
                <div class="rsvp"> 
 
                    <h1>RSVP</h1> 
 
                    <div class="event vevent"> 
 
                        <h3 class="summary"><%= @wedding.bride_first_name.titleize %> &amp; <%= @wedding.groom_first_name.titleize %>'s Wedding </h3> 
                        <time class="dtstart" datetime="<%= @wedding.date.strftime('%Y-%m-%d') %>"><a href="#" style="cursor: default;"><%= nice_date(@wedding.date) %></a></time>
 
                    </div> 

<% form_for @rsvp do |f| %> 
                       <div class="form"> 
 
	<% if flash[:error] %>
                            <aside class="error"> 
 
                                <h3>Sorry, your RSVP wasn't accepted</h3> 
                                <p>Please double-check the following for any highlighted mistakes.</p> 
 
                            </aside> 
        <% end %>

	    <%= f.hidden_field :wedding_id %>
 
                            <p><%= @wedding.rsvp_message %></p> 
 
                            <fieldset class="rsvp"> 
                                <legend>Will you be able to attend?</legend> 

				<input id="rsvp_can_attend_true" name="rsvp[can_attend]" type="radio" value="true" required="required" /><label for="#">Yes</label> 
				<input checked="checked" id="rsvp_can_attend_false" name="rsvp[can_attend]" type="radio" value="false" required="required" /><label for="#">No</label> 
                            </fieldset> 
 
                            <label<%= error_for(@rsvp, :name) %> for="rsvp_name">Your Name</label> 
			    <input id="rsvp_name" name="rsvp[name]" type="text" required="required" /> <% if @rsvp.errors.on(:name) %><strong class="error">Required</strong><% end %>

                            <section id="details"> 
 
                                <h1>Details</h1> 


				<% @wedding.rsvp_questions.each do |rsvp_question| %>
				<%= render_rsvp_form_element(rsvp_question) %>
				<% end %>

                             <label class="optional" for="rsvp_additional_notes">Additional Notes <small>Optional</small></label> 
			      <%= f.text_area :additional_notes, :placeholder => 'Please let us know if you have any special requests', :cols => 40, :rows => 4 %>

                            </section> 
 
                        </div> 
 
                    <menu class="actions"> 
                        <li><input type="submit" value="Submit" /></li> 
                    </menu> 
 <% end %>
                </div> 
                <!-- / RSVP WIDGET --> 


<% content_for :script do %>
<script>

  var required_fields;

  $(document).ready(function() {
  required_fields = new Array()
  $('#rsvp_can_attend_true').change(function(){toggleCanAttend();});
  $('#rsvp_can_attend_false').change(function(){toggleCanAttend();});
  toggleCanAttend();
  });

  function toggleCanAttend(){
 if($('#rsvp_can_attend_true').is(':checked')){

 for (var i = 0; i < required_fields.length; i++){
 $('#' +required_fields[i]).attr('required', true);
  }

  required_files = new Array();

  }else{

 $('#details :input').each(function (index, field) {
  if($(this).attr('required') === 'required'){
  required_fields.push($(this).attr('id'));
  $(this).removeAttr('required');
  }
  });

  }
}

</script>


<% end %>
