<!DOCTYPE html>
<html>
<head>
  <title>Enchented</title>
  <%= stylesheet_link_tag [@page_css || [], 'enchented'].flatten.uniq %>
	<%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="canvas">
	<div id="canvas-content">
		<%= yield %>
		<div></div>
	</div>
	<div></div>
	<div style="clear:both;"></div>
	<div id="call-to-action">
		<div class="call dotted-box">RSVP</div>
		<div class="call dotted-box">PlaceHolder</div>
		<div class="call dotted-box">Blog</div>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <%#= javascript_include_tag [@page_js || [], 'enchented'].flatten.uniq %>
	<%= yield :script %>
</body>
</html>
