<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- PAGE TITLE -->
    <title>Example of a <%- if params[:context] -%><%= params[:context].capitalize %> <%- end -%><%= self.action_name.capitalize %></title>
    
    <!-- STYLES -->
    <%= stylesheet_link_tag('/stylesheets/ui/' + self.action_name + '/example.css') %>

</head>
<body class="example <%= params[:user] %>">

    <!-- EXAMPLE MARKUP -->
    <div id="example"><%= yield %></div>

    <!-- SCRIPTS -->
    <% if @libraries %><%= javascript_include_tag(*@libraries) %><% end %>
    <% if @adapters %><%= javascript_include_tag(*@adapters) %><% end %>
    <% if @scripts %><%= javascript_include_tag(*@scripts) %><% end %>
    <%= javascript_include_tag('/ui/' + self.action_name + '/example.js') %>

</body>
</html>