<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- PAGE TITLE -->
    <title><% if @title %><%= @title %> &middot; <% end %>Love for Design</title>
    <link rel="shortcut icon" href="/prototype/bookmark.ico" />

    <!-- STYLES -->
    <%= stylesheet_link_tag('/prototype/stylesheets/prototype/master.css') %>

</head>
<body class="prototype <%= user %>">

    <div id="page">

        <% if (couple? || trial?) && page != 'start' %>
            <%= form_tag do %>
            <div id="wedding">
            
                <h2><strong class="bride"><%= wedding[:bride] %></strong> <em>&amp;</em> <strong class="groom"><%= wedding[:groom] %></strong></h2>
                <h5><a href="#"><%= wedding[:date] %></a></h5>
                <input type="hidden" name="wedding-order" value="tomoko-billy" />
    
            </div>
            <% end %>
        <% end %>

        <!-- <%= page.upcase + ' PAGE' %> -->
        <%= yield %>

    </div>

    <!-- NAVIGATION -->
    <% if (page != 'start') %>
    <ul id="navigation">

        <li><%= go :to => "Welcome" %></li>
        <li><%= go :to => "Our Wedding" %></li>
        <li class="customize"><a href="#customizer">Customize</a></li>

    </ul>
    <% end %>

    <!-- FOOTER -->
    <div id="footer"><%= render "/prototype/footer" %></div>

    <!-- SCRIPTS -->
    <% if @libraries %><%= javascript_include_tag(*@libraries) %><% end %>
    <% if @adapters %><%= javascript_include_tag(*@adapters) %><% end %>
    <%= javascript_include_tag('/utilities/logic', '/utilities/initializer', '/utilities/measurer') %>

    <% if couple? || trial? %>
    
        <%= javascript_include_tag('/controls/close', '/prototype/customizer') %>
    
    <% end %>

    <%= javascript_include_tag('/prototype/initialize') %>

    <% if @scripts %><%= javascript_include_tag(*@scripts) %><% end %>

</body>
</html>